@model IEnumerable<POS_MVC.Models.subcategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subcategory_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcategory_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.category_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subcategory_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategory_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.category_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subcategory_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.subcategory_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subcategory_id })
        </td>
    </tr>
}

</table>
